name: CI/CD

on:
  push:
    branches: ["main"]
  pull_request:
jobs:
      build:
        runs-on: ubuntu-latest

        steps:
          - name: Checkout
            uses: actions/checkout@v4
          - name: Set up JDK
            uses: actions/setup-java@v4
            with:
              distribution: 'temurin'
              java-version: '21'

          - name: test
            run: |
              pwd
              ls -la
              find . -name pom.xml

          - name: build and test
            run: mvn clean verify
